<div class="center">
  <h1>Because I wanted to send something to space</h1>
</div>
<br />
<div class="btn-container">
  <br />
  <button mat-raised-button color="primary" [disabled]="!resultsModified" (click)="undoChanges()">
    Undo Result Changes
  </button>
  <button mat-raised-button color="info" [disabled]="!raceLogic.hasGroupings" (click)="undoGroupings()">
    Undo Groupings
  </button>
</div>
<br />
<div class="container"> 
  <table id="tblInfo" class="mat-elevation-z8">
    <thead>
      <tr>
        <th>PL</th>
        <th>TEAM</th>
        <th>Total Time</th>
        <th>Avg. Time</th>
        <th>Spread</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of scoringKeys; let i = index" (click)="showGroupingModal(key)">
        <td>
          {{i+1}}
        </td>
        <td>
          {{key}}
        </td>
        <td>
          {{formatingUtil.formatTime(raceInfo[key].totalTime)}}
        </td>
        <td>
          {{formatingUtil.formatTime(raceInfo[key].average,true)}}
        </td>
        <td>
          {{formatingUtil.formatTime(raceInfo[key].spread,true)}}
        </td>
        <td>
          {{raceInfo[key].score}}
        </td>
      </tr>

    </tbody>
  </table>
</div>
<!-- <div *ngFor="let key of scoringKeys">
  {{key}}:<b>{{raceInfo[key].score}}</b>
</div> -->
<br />
<br />
<div class="center">
  <button class="button-add" mat-fab (click)="showAddModal()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<br />
<div cdkDropList (cdkDropListDropped)="dropLogic.drop(this,$event)" class="container">
  <table id="tblResult" class="mat-elevation-z8">
    <thead>
      <tr>
        <th *ngFor="let key of resultKeys">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr matTooltip="Drag to simulate results" matTooltipShowDelay="1000"
        matTooltipHideDelay="300" *ngFor="let result of results" cdkDrag>
        <td *ngFor="let key of resultKeys">
          {{result[key]}}
          <span *ngIf="key === 'TEAM' && raceLogic.groupingData[result[key]]">
            ({{raceLogic.groupingData[result[key]]}})
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>