
<br />



<br />
<div *ngFor="let key of scoringKeys">
  {{key}}:<b>{{raceInfo[key].score}}</b>
</div>
<br />
<br />
<div cdkDropList (cdkDropListDropped)="drop($event)" class="mat-elevation-z8 container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let key of resultKeys">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results" cdkDrag>
        <td *ngFor="let key of resultKeys">
          {{result[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
