
<br />



<br />
<table>
  <thead>
    <tr>
      <th>PL</th>
      <th>TEAM</th>
      <th>Total Time</th>
      <th>Avg. Time</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of scoringKeys; let i = index">
      <td>
        {{i+1}}
      </td>
      <td>
        {{key}}
      </td>
      <td>
        {{formatTime(raceInfo[key].totalTime)}}
      </td>
      <td></td>
      <td>
        {{raceInfo[key].score}}
      </td>
    </tr>

  </tbody>
</table>
<!-- <div *ngFor="let key of scoringKeys">
  {{key}}:<b>{{raceInfo[key].score}}</b>
</div> -->
<br />
<br />
<div cdkDropList (cdkDropListDropped)="drop($event)" class="mat-elevation-z8 container">
  <table id="tblResult">
    <thead>
      <tr>
        <th *ngFor="let key of resultKeys">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results" cdkDrag>
        <td *ngFor="let key of resultKeys">
          {{result[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
