<div class="center">
  <h1>Because I wanted to send something to space</h1>


<div cdkDropListGroup>
  <mat-grid-list cols="4">
    <mat-grid-tile>
          <div class="example-container">
        <h2>Available items</h2>

        <div
          cdkDropList
          [cdkDropListData]="items"
          class="example-list"
          cdkDropListSortingDisabled
          (cdkDropListDropped)="dropMod($event)">
          <div class="example-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
        </div>
      </div> 
    </mat-grid-tile>
    <mat-grid-tile>
          <div class="example-container">
        <h2>Shopping basket</h2>

        <div
          cdkDropList
          [cdkDropListData]="basket"
          class="example-list"
          (cdkDropListDropped)="dropMod($event)">
          <div class="example-box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!--   <h1>{{title}}</h1> -->
<!--   <div cdkDropListGroup>
    <div class="example-container">
      <h2>Available items</h2>

      <div
        cdkDropList
        [cdkDropListData]="items"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="dropMod($event)">
        <div class="example-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Shopping basket</h2>

      <div
        cdkDropList
        [cdkDropListData]="basket"
        class="example-list"
        (cdkDropListDropped)="dropMod($event)">
        <div class="example-box" *ngFor="let item of basket" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div> -->
</div>
<br />
<div>
  <br />
  <button mat-raised-button color="primary" [disabled]="!resultsModified" (click)="undoChanges()">
    Undo Changes
  </button>
  <br />
</div>
<br />
<table>
  <thead>
    <tr>
      <th>PL</th>
      <th>TEAM</th>
      <th>Total Time</th>
      <th>Avg. Time</th>
      <th>Spread</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let key of scoringKeys; let i = index">
      <td>
        {{i+1}}
      </td>
      <td>
        {{key}}
      </td>
      <td>
        {{formatTime(raceInfo[key].totalTime)}}
      </td>
      <td>
        {{formatTime(raceInfo[key].average,true)}}
      </td>
      <td>
        {{formatTime(raceInfo[key].spread,true)}}
      </td>
      <td>
        {{raceInfo[key].score}}
      </td>
    </tr>

  </tbody>
</table>
<!-- <div *ngFor="let key of scoringKeys">
  {{key}}:<b>{{raceInfo[key].score}}</b>
</div> -->
<br />
<br />
<div cdkDropList (cdkDropListDropped)="drop($event)" class="mat-elevation-z8 container">
  <table id="tblResult">
    <thead>
      <tr>
        <th *ngFor="let key of resultKeys">
          {{key}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of results" cdkDrag>
        <td *ngFor="let key of resultKeys">
          {{result[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
